@use 'variables' as *;
@use 'margenes' as *;
@use 'textos' as *;
@use 'redondear' as *;
@use 'breackpoints' as *;
.alerta {
  display: flex;
  gap: 4rem;
  align-items: center;
  margin-bottom: 1.5rem; 
}

@mixin alerta-estilo($bg, $color, $borde) {
  background-color: rgba($bg, 0.1);
  border: 1px solid $borde;
  color: $color;
  font-family: $font-desagrado;
  gap: 1rem;

  h2 {
    font-family: $font-verguenza;
    color: $color;
  }

  p {
    font-family: $font-envidia;
    color: $color;
  }

  .icon {
    fill: $color;
  }
}

.alerta {
  display: flex;
  gap: 1rem;
  align-items: center;

  &-informacion {
    @include alerta-estilo($tristeza-suspiro, darken($tristeza-suspiro, 2%), $tristeza-suspiro);
  }

  &-peligro {
    @include alerta-estilo($furia-fuego, darken($furia-fuego, 5%), $furia-fuego);
  }

  &-advertencia {
    @include alerta-estilo($ansiedad-relajada, darken($ansiedad-relajada, 8%), $ansiedad-relajada);
  }

  &-completado {
    @include alerta-estilo($desagrado-sarcastico, darken($desagrado-sarcastico, 10%), $desagrado-sarcastico);
  }
}
