@use 'variables' as *;
@use 'textos' as *;
@use 'redondear' as *;

//Estilos para los tamaños de los botones.
//Contamos con 3 tamaños: L, M y P.
// "L" Grande, "M" Mediano y "P" Pequeño.
.btn-l {
    padding: 10px 16px !important;
    font-size: $font-size-lg !important;
    line-height: 1.3333333 !important;
    width: 170px;
    height: 62px;
  }
  .btn-m {
    padding: 10px 12px !important;
    font-size: $font-size-sm !important;
    line-height: 0.5 !important;
    width: 140px;
    height: 42px;
  }
  .btn-s {
    padding: 5px 10px !important;
    font-size: $font-size-xs !important;
    line-height: 1.5 !important;
    width: 95px;
    height: 25px;
  }

  //Mixins para estilos de boton
  //Esilos  para boton Alegria
  @mixin alegria-style($color1, $color2) {
    cursor: pointer;
    color: $furia-suave;
    font-size: $font-size-base;
    font-family: $font-alegria;
    border-radius: map-get($map: $radius, $key: xl);
    border: none;
    position: relative;
    background: $furia-oscuro;
    transition: 0.1s;
  
    &::after {
      content: '';
      width: 100%;
      height: 100%;
      background-image: radial-gradient(circle farthest-corner at 10% 20%, $color1 17.8%, $color2 100.2%);
      filter: blur(15px);
      z-index: -1;
      position: absolute;
      left: 0;
      top: 0;
    }
  
    &:active {
      transform: scale(0.9) rotate(3deg);
      background: radial-gradient(circle farthest-corner at 10% 20%, $color1 17.8%, $color2 100.2%);
      transition: 0.5s;
    }
  }

  //Estilos para boton Ansiedad
  @mixin ansiedad-style($base, $hover) {
    padding: 1em 2em;
    border: none;
    border-radius: map-get($map: $radius, $key: md);
    font-weight: $font-weight-bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    color: $base;
    transition: all 1000ms;
    font-family: $font-ansiedad;
    font-size: $font-size-base;
    position: relative;
    overflow: hidden;
    outline: 2px solid $base;
  
    &:hover {
      color: $furia-suave;
      transform: scale(1.1);
      outline: 2px solid $hover;
      box-shadow: 4px 5px 17px -4px darken($hover, 10%);
    }
  
    &::before {
      content: "";
      position: absolute;
      left: -50px;
      top: 0;
      width: 0;
      height: 100%;
      background-color: $base;
      transform: skewX(45deg);
      z-index: -1;
      transition: width 1000ms;
    }
  
    &:hover::before {
      width: 250%;
    }
  }

  //Boton de la emcion Temor
  @mixin temor-style($bg, $color) {
    position: relative;
    font-size: $font-size-base;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    cursor: pointer;
    border-radius: map-get($map: $radius, $key: xl);
    transition: all 0.2s;
    border: none;
    font-family: $font-furia;
    font-weight: $font-weight-normal;
    color: $color;
    background-color: $bg;
  
    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
  
    &:active {
      transform: translateY(-1px);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
  
    &::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 100px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all 0.4s;
      background-color: $bg;
    }
  
    &:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  //Boton tristeza
  @mixin tristeza-style($burbuja-color, $color2) {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    border: none;
    font-size: $font-size-base;
    background-color: $color2;
    border-radius: 100px;
    font-weight: $font-weight-bold;
    color: #ffffff40;
    box-shadow: 0 0 0 2px #ffffff20;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  
    span:last-child {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 20px;
      height: 20px;
      background-color: $burbuja-color;
      border-radius: 50%;
      opacity: 0;
      transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
    }
  
    span:first-child {
      position: relative;
      z-index: 1;
    }
  
    &:hover {
      box-shadow: 0 0 0 5px $color2;
      color: #ffffff;
    }
  
    &:active {
      scale: 0.95;
    }
  
    &:hover span:last-child {
      width: 150px;
      height: 150px;
      opacity: 1;
    }
  }
  

  //Alegría
.alegria-A { @include alegria-style($alegria-brillante, $alegria-electrisante); }
.alegria-O { @include alegria-style($alegria-tranquilidad, $alegria-vibrante); }
.alegria-I { @include alegria-style($alegria-electrisante, $alegria-tranquilidad); }
.alegria-D { @include alegria-style($alegria-brillante, $alegria-vibrante); }

// Ansiedad
.ansiedad-A { @include ansiedad-style($ansiedad-caotica, $ansiedad-explosiva); }
.ansiedad-O { @include ansiedad-style($ansiedad-espontanea, $ansiedad-relajada); }
.ansiedad-I { @include ansiedad-style($ansiedad-explosiva, $ansiedad-caotica); }
.ansiedad-D { @include ansiedad-style($ansiedad-relajada, $ansiedad-espontanea); }

// Temor
.temor-A { @include temor-style($temor-adrenalina, $temor-suave); }
.temor-O { @include temor-style($temor-caos, $temor-oscuridad); }
.temor-I { @include temor-style($temor-oscuridad, $temor-adrenalina); }
.temor-D { @include temor-style($temor-suave, $furia-suave);}

//Trsiteza
.tristeza-A { @include tristeza-style($tristeza-apagada, $tristeza-suspiro); }
.tristeza-O { @include tristeza-style($tristeza-brillante, $tristeza-profunda); }
.tristeza-I { @include tristeza-style($tristeza-profunda, $tristeza-apagada); }
.tristeza-D { @include tristeza-style($tristeza-suspiro, $tristeza-brillante); }