@use 'variables' as *;
@use 'textos' as *;
@use 'redondear' as *;
@use 'breackpoints' as *;
//Medidas y padding para los contenedores
//Tamaños: SM, MD, LG, XL, XXl.
$container-padding-normal: 1rem;
$container-padding-agrandado:3rem;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

//Mixin para contenedor
@mixin container-basic($nombre, $background: null, $padding: $container-padding-normal) {
  .#{$nombre} {
    width: 100%;
    padding-right: $padding;
    padding-left: $padding;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    border-radius: map-get($map: $radius, $key: sm);
    font-family: $font-envidia;
    color: $furia-suave;

    @if $background != null {
      background-color: $background;
    }

    @each $breakpoint, $max-width in $container-max-widths {
      @media (min-width: map-get($breakpoints, $breakpoint)) {
        max-width: $max-width;
      }
    }
  }
}

//DECLARANDO CONTAINERS CON COLOR Y DIFERENTES TAMAÑOS

@include container-basic('container-principal', $furia-fuego, $container-padding-normal);
@include container-basic('container-fluid', $verguenza-recuerdo);
@include container-basic('container-sm', $tristeza-apagada);
@include container-basic('container-md', $envidia-suspiro);
@include container-basic('container-lg', $aburrimiento-niebla);
@include container-basic('container-xl', $desagrado-sarcastico);
@include container-basic('container-xxl', $alegria-brillante);


//DECLARANDO CONTAINERS SIN COLOR Y DIFERENTES TAMAÑOS