@use 'variables' as *;
@use'containers' as *;
@use 'breakpoints' as *;
@use 'textos' as *;
@use 'margenes' as *;
@use 'redondear' as *;
@use 'botones' as*;

//estilos para el formulario
input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
  width: 100%;
  box-sizing: border-box;
  font-family: $font-envidia;
  border-radius: map-get($radius, md);
  border: 1px solid $alegria-vibrante;
  padding: $spacing-sm;
  font-size: $font-size-base;
  transition: 0.3s ease;
}

input[type="text"] {
    background-color: $furia-ceniza;
    color: $furia-suave;
  }

  input[type="email"] {
    background-color: $envidia-suspiro;
    color: $envidia-oscura;
  }

input[type="submit"],
input[type="reset"] {
  cursor: pointer;
  font-weight: $font-weight-bold;
  border: none;
}

input[type="submit"] {
  background-color: $ansiedad-caotica;
  color: white;
  gap: 15rem ;
 
}

input[type="reset"] {
  background-color: $ansiedad-relajada;
  color: white;
 
}

// Textos y etiquetas
label,
p {
  font-size: $font-size-lg;
  font-family: $font-furia;
  color: $furia-suave;
}

// Layout de formulario
form {
  background-color: $ansiedad-expontanea;
  padding: $spacing-xs;
  border-radius: map-get($radius, lg);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


  
