@use 'variables' as *;
@use 'containers' as *;
@use 'breackpoints' as *;
@use 'textos' as *;
@use 'margenes' as *;
@use 'redondear' as *;
@use 'botones' as *;

// Layout general del formulario
.formulario-emocional {
  max-width: 600px;
  width: 100%;
  margin: $spacing-lg auto;
  padding: $spacing-lg;
  background: linear-gradient(to bottom, $furia-oscuro 0%, $furia-fuego 100%);

  border-radius: $spacing-md;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .titulo-formulario {
    color: $furia-suave;
    font-family: $font-furia;
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  .form-group {
    display: flex;
    flex-direction: column;
   
    label {
      color: $furia-suave;
      font-weight: bold;
      margin-bottom: $spacing-sm;
      $font-furia: 'Bebas Neue', sans-serif;
    }

    input,
    textarea,
    select {
      padding: 0.75rem 1rem;
      border: none;
      border-radius: 0.8rem;
      font-size: 1rem;
      font-family: inherit;
      background-color: $furia-suave;
      color: $furia-fuego;

      &:focus {
        outline: 2px solid $furia-humo;
      }
    }

    textarea {
      resize: vertical;
    }
  }
 
  .btn-group {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    .btn {
      flex: 1;
      padding: 0.75rem;
      font-size: 1rem;
      font-weight: bold;
      border-radius: 0.5rem;
      border: none;
      cursor: pointer;
      color: white;
    }
    &:hover {
      background-color: lighten($furia-oscuro, 10%);
      color: $furia-fuego;
    }
    
    .btn-enviar {
      background-color: $furia-oscuro;
      color: $furia-suave;
    }

    .btn-limpiar {
      background-color: $furia-oscuro;
      color: $furia-suave;
    }
  }
}