@use 'breackpoints' as *;
@use 'variables' as *;
@use 'margenes' as *;
@use 'redondear' as *;
@use 'texto' as *;

//mixins para el navbar
//se usa como un formato general 
@mixin navbar-base {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $spacing-md $spacing-lg;
    li {
        list-style: none;
    }
    a{
        text-decoration: none;
        color: inherit;
    }
}

//usando el formato general y dando diseño al logo que solamente es texto
@mixin navbar_logo_text {
    @include navbar-base;
    background-color: $alegria-tranquilidad;
    font-family: $font-alegria;
    justify-content: center;
    font-size: $font-size-xl;
    .nav_marca{
        background: linear-gradient(to right, $alegria-vibrante, $alegria-tranquilidad);
        background-clip: text;
        color: transparent;
        font-weight: $font-weight-bold;
        font-size: $font-size-xxl;
    }
    .nav_items{
        color: $alegria-brillante;
        display: flex;
        gap: 2.5rem;
    }
}

//usando el formato general y dando diseño pero usando el logo osea una imagen
@mixin navbar_logo_img($height: 100px){
    @include navbar-base;
    background-color: $tristeza-profunda;
    color: $tristeza-apagada;
    font-family: $font-tristeza;
    font-size: $font-size-xl;
    .logo{
        height: $height;
        img{
            height: 100%;
            transition: transform 0.3s ease-in-out;
        }
        &:hover{
            transform: scale(1.3);
        }
    }
    .nav_items{
        display: flex;
        gap: 2rem;
    }
    .nav_link:hover{
        transform: scale(1.3);
    }
}