@use 'variables' as *;

.box {
  width: 90%;             
  max-width: 800px; 
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
// Escalas de redondeo
$radius: (
  none: 0,
  sm: 10px,   // small
  md: 25px,   // medium
  lg: 35px,     // large
  xl: 50px,      // xl
  full: 9999px    // forma circular
);

.rounded-full {
  width: 100px; 
  height: 100px;
  border-radius: 9999px;
  text-align: center;
}


// Paleta de emociones
$emociones: (
  furia: $furia-fuego,
  envidia: $envidia-marea,
  ansiedad: $ansiedad-espontanea,
  alegria: $alegria-brillante,
  temor: $temor-suave,
  desagrado: $desagrado-sarcastico,
  verguenza: $verguenza-recuerdo,
  tristeza: $tristeza-brillante,
  aburrimiento: $aburrimiento-suave
);

// Clases generales de border-radius
@each $name, $size in $radius {
  .rounded-#{$name} {
    border-radius: $size;
  }

  .rounded-t-#{$name} {
    border-top-left-radius: $size;
    border-top-right-radius: $size;
  }

  .rounded-b-#{$name} {
    border-bottom-left-radius: $size;
    border-bottom-right-radius: $size;
  }

  .rounded-l-#{$name} {
    border-top-left-radius: $size;
    border-bottom-left-radius: $size;
  }

  .rounded-r-#{$name} {
    border-top-right-radius: $size;
    border-bottom-right-radius: $size;
  }

  // clases de redondeo por emociones
  @each $emo, $color in $emociones {
    .rounded-emotion-#{$emo}-#{$name} {
      border-radius: $size;
      background-color: $color;
      padding: 0.5rem;
      text-align: center;
    }
  }
}