@use 'variables' as *;
@use 'textos' as *;
@use 'redondear' as *;
@use 'mover' as *;
@use 'margenes' as *;
@use 'sombras' as *;

.tarjetas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem; 
  padding: 2rem;
}

.tarjeta {
  width: 280px;
  margin: 1rem;
  font-family: $font-temor;
  margin: 20px;
  text-align: center;
  transition: transform 0.3s ease;
  cursor: pointer;
}

// Tarjeta normal
.tarjeta-verguenza {
  @extend .tarjeta;
  @extend .bg-verguenza;
  @extend .shadow-verguenza-3xl;
  padding: 1rem;
  border: 3px dashed $verguenza-fantastica;
  @extend .rounded-full;
  width: 280px;
  height: 200px;

  h3 {
    color: $verguenza-fantastica;
    font-family: $font-verguenza;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 1rem;
    color: $verguenza-fantastica;
    font-family: $font-verguenza;
  }
}

// Tarjeta de Tristeza
.tarjeta-tristeza {
  perspective: 1000px;
  width: 280px;
  height: 300px;

  .flip-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }

  &:hover .flip-inner {
    transform: rotateY(180deg);
  }

  .flip-front,
  .flip-back {
    position: absolute;
    width: 100%;
    height: 100%;
    @extend .rounded-emotion-tristeza-md;
    @extend .shadow-tristeza-md;
    backface-visibility: hidden;
  }

  .flip-front {
    @extend .bg-tristeza;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      border-radius: map-get($radius, md);
    }
  }

  .flip-back {
    background-color: $tristeza-apagada;
    color: $tristeza-profunda;
    transform: rotateY(180deg);
    padding: 1rem;

    h3 {
      font-family: $font-tristeza;
    }

    p {
      font-size: 1rem;
    }
  }
}

// Tarjeta de Desagrado
.tarjeta-desagrado {
  @extend .tarjeta;
  @extend .bg-desagrado;
  @extend .shadow-desagrado-md;
  @extend .rounded-emotion-desagrado-lg;
  border: 2px solid $desagrado-dramatico;
  padding: 1rem;

  h3 {
    color: $desagrado-dramatico;
    font-family: $font-desagrado;
  }
}