@import '../sass/breackpoints.scss';
@import '../sass/variables.scss';

//Medidas y padding para los contenedores
//Tamaños: SM, MD, LG, XL, XXl.
$container-padding: 1rem;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

//CONTAINER PRINCIPAL.
.container {
    width: 100%;
    padding-right: $container-padding;
    padding-left: $container-padding;
    margin-right: auto;
    margin-left: auto;
    background-color: $furia-fuego;
  
    @each $breakpoint, $max-width in $container-max-widths {
      @media (min-width: map-get($breakpoints, $breakpoint)) {
        max-width: $max-width;
      }
    }
  }

  //CONTAINER FLUIDO
  .container-fluid {
    width: 100%;
    padding-right: $container-padding;
    padding-left: $container-padding;
    margin-right: auto;
    margin-left: auto;
  }