//furia
$furia-fuego: #b11009;
$furia-humo: #eedbd3;
$furia-ceniza:#5b392e;;
$furia-oscuro: #150f0f;

//envidia

$envidia-oscura: #1c246f; 
$envidia-marea:#0db3bc;
$envidia-alarmante:#850e8b;
$envidia-suspiro: #6f75a4; 

//ansiedad
$ansiedad-explosiva:#b11009;;
$ansiedad-expontanea:#e04f06;
$ansiedad-relajada:#fba320;
$ansiedad-caotica:#543227;

//alegria

$alegria-electrisante:#203b95;
$alegria-tranquilidad: #6587c1;
$alegria-vibrante:#f89b29;
$alegria-brillante:#e1ec56;

//temor
$temor-suave:#7b65a6; 
$temor-oscuridad:#101918;
$temor-adrenalina:#a71f67; 
$temor-caos:#231d4b;

//desagrado
$desagrado-sarcastico: #78AB65;
$desagrado-autoridad:#20441F;
$desagrado-impertinente:#58B2B3;
$desagrado-dramatico:#994398;

//Vergüenza

$vergüenza-nostalgica: #9C254E;
$vergüenza-fantastica:#834186;
$vergüenza-vulnerable:#816F96;
$vergüenza-recuerdo:#D86289;

//tristeza
$tristeza-suspiro: #0C619D;
$tristeza-brillante:#40B2E3;
$tristeza-apagada:#89ABC3;
$tristeza-profunda:#213054;




