//furia
$furia-fuego: #b11009;
$furia-humo: #eedbd3;
$furia-ceniza:#5b392e;;
$furia-oscuro: #150f0f;

//envidia

$envidia-oscura: #1c246f; 
$envidia-marea:#0db3bc;
$envidia-alarmante:#850e8b;
$envidia-suspiro: #6f75a4; 

//ansiedad
$ansiedad-explosiva:#b11009;;
$ansiedad-expontanea:#e04f06;
$ansiedad-relajada:#fba320;
$ansiedad-caotica:#543227;;



